<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-logo">
        <a href="/shot" class="logo-link">
          <img class="logo-image" src="/images/Pixelary.png" alt="Pixelary" />
        </a>
      </div>

    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <span class="copyright">© 2025 Pixelary</span>
        <a href="/privacy" class="footer-bottom-link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
